@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #141414;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card {
  background: #1f1f1f;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 420px;
}

.card img{
  border-radius: 90px;
  height: 78px;
  width: 78px;
}

.card h1{
  color: white;
  margin-bottom: 10px;
}

.location{
  color: #b6dc2d;
  margin-bottom: 10px;
}

.bio{
  color:#909090;
  margin-top: 10px;
  margin-bottom: 10px;
}


.links a {
  display: block;
  background: #333;
  padding: 0.75rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.links a:hover {
  background: #c5f82a;
  color: #1f1f1f;
}
.attribution { 
    margin-top: 25px;
    color: white;
    font-weight: 900;
    font-size: 11px; text-align: center; 
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }